<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EDAMAM</key>
	<dict>
		<key>app_id</key>
		<string>8faa6a6a</string>
		<key>app_key</key>
		<string>317afa76457341d40ce4ad77afcdfa8e</string>
	</dict>
</dict>
</plist>
